.company-intro {
  .ci-image {
    margin-top: 50px;
  }

  .ci-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
  }

  .ci-heading {
    &__subtitle {
      @include f(24px, 32px, 400);
    }

    &__title {
      margin-top: 10px;
    }
  }

  .ci-description {
    max-width: 570px;

    &__link {
      margin-top: 20px;
    }
  }
}

.geography {
  .g-map {
    @include flex-all-center;

    position: relative;
    margin: 0 auto;
    max-width: 970px;
  }

  .g-map-item {
    position: absolute;
    left: 41%;
    top: 33%;
    z-index: 40;
    width: 600px;
    height: 370px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;

    &__close {
      position: absolute;
      right: 0;
      top: -37px;
      cursor: pointer;
    }

    &__point {
      position: absolute;
      left: -70px;
      top: -70px;
    }

    &__image {
      img {
        border-radius: 16px;
        width: 100%;
        height: 100%;
      }
    }

    &-left {
      position: absolute;
      right: calc(50% - 19px);
      bottom: 0;
      border: 1px solid var(--gray-color);
      border-radius: 16px 16px 0;
      padding: 20px;
      background-color: var(--light-color);

      &::before {
        content: "";
        position: absolute;
        right: 18px;
        bottom: -17px;
        z-index: 30;
        border-top: 1px solid var(--gray-color);
        border-right: 1px solid var(--gray-color);
        border-radius: 0 16px 0 0;
        width: 16px;
        height: 16px;
        box-shadow: 5px -5px 0 3px var(--light-color);
        background-color: transparent;
      }
    }

    &-right {
      position: absolute;
      left: 50%;
      top: 0;
      border: 1px solid var(--gray-color);
      border-radius: 0 16px 16px;
      padding: 20px;
      background-color: var(--light-color);

      &::before {
        content: "";
        position: absolute;
        left: 17px;
        top: -16px;
        border-bottom: 1px solid var(--gray-color);
        border-left: 1px solid var(--gray-color);
        border-radius: 0 0 0 16px;
        width: 16px;
        height: 16px;
        box-shadow: -5px 4px 0 3px var(--light-color);
        background-color: transparent;
      }
    }

    &-middle {
      position: absolute;
      left: calc(50% - 2px);
      top: -1%;
      z-index: 30;
      width: 20px;
      height: 101%;
      background-color: var(--light-color);
    }

    &__content {
      margin-top: 20px;

      &-title {
        @include f(20px, 30px, 600);
      }

      &-subtitle {
        @include font(var(--dark-gray-color), 13px, 19px, 400);

        margin-top: 10px;
      }

      p {
        margin-top: 10px;
      }
    }

    &--active {
      opacity: 1;
      pointer-events: all;
    }

    &--dmg,
    &--vinci,
    &--teflex,
    &--jiaflon,
    &--trisun {
      left: -18%;
      top: 39%;

      .g-map-item__point {
        left: auto;
        right: -70px;
        top: 10px;
      }
    }
  }

  .g-tabs {
    @include is-grid(6, 30, 30);

    margin-top: 30px;

    &-item {
      justify-items: center;
      border: 1px solid transparent;
      border-radius: 16px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        border: 1px solid var(--blue-color);
        background-color: rgba(#0387ea, 0.05);
      }
    }

    &-item--active {
      border: 1px solid var(--blue-color);
      background-color: rgba(#0387ea, 0.05);
    }
  }
}

@include big-desktop {
  .company-intro {
    .ci-image {
      margin-top: 30px;
    }

    .ci-description {
      max-width: 477px;
    }
  }

  .geography {
    .g-map-item {
      left: 0;
      top: 48%;

      &__point {
        position: absolute;
        left: 45%;
        top: -200px;
      }

      &--dmg,
      &--vinci,
      &--teflex,
      &--jiaflon,
      &--trisun {
        left: 15%;
        top: 60%;

        .g-map-item__point {
          right: 33%;
          top: -29%;
        }
      }
    }

    .g-tabs {
      @include is-grid(6, 20, 20);

      margin-top: 20px;
    }
  }
}

@include tablet {
  .company-intro {
    .ci-info {
      margin-top: 30px;
    }

    .ci-heading {
      &__title {
        @include f(32px, 42px, 600);
      }
    }

    .ci-description {
      max-width: 417px;
    }
  }

  .geography {
    .g-map {
      width: 670px;
    }

    .g-map-item {
      left: 0;
      top: 63%;
      width: 696px;

      &__point {
        position: absolute;
        left: 30%;
        top: -210px;
      }

      &__content {
        &-title {
          @include f(18px, 26px, 600);
        }
      }

      &--dmg,
      &--vinci,
      &--teflex,
      &--jiaflon,
      &--trisun {
        .g-map-item__point {
          right: 34%;
        }
      }
    }

    .g-tabs {
      @include is-grid(3, 20, 20);
    }
  }
}

@include mobile-bg {
  .company-intro {
    .ci-info {
      flex-direction: column;
    }

    .ci-description {
      margin-top: 20px;
      max-width: 100%;
    }
  }

  .geography {
    .g-map {
      width: 100%;
    }

    .g-map-item {
      left: 0;
      top: 40%;
      display: flex;
      flex-direction: column;
      width: 100%;

      &__point {
        position: absolute;
        left: 32%;
        top: -100px;
      }

      &-left {
        position: initial;
        border-bottom: none;
        border-radius: 16px 16px 0 0;

        &::before {
          display: none;
        }
      }

      &-right {
        @include flex-all-center;

        position: initial;
        margin-top: -2px;
        border-top: none;
        border-radius: 0 0 16px 16px;

        &::before {
          display: none;
        }
      }

      &__image {
        height: 160px;
      }

      &-middle {
        display: none;
      }

      &--dmg,
      &--vinci,
      &--teflex,
      &--jiaflon,
      &--trisun {
        left: 0;
        top: 55%;

        .g-map-item__point {
          right: 31%;
          top: -85px;
        }
      }
    }
  }
}

@include mobile {
  .ci-image {
    margin-top: 20px;
  }

  .company-intro {
    .ci-description {
      &__link {
        width: 100%;
      }
    }
  }
}

@include small-mobile {
  .company-intro {
    .ci-image {
      margin-top: 20px;
    }

    .ci-heading {
      &__title {
        @include f(24px, 32px, 600);
      }

      &__subtitle {
        @include f(15px, 20px, 400);
      }
    }

    .ci-info {
      margin-top: 20px;
    }
  }

  .geography {
    .g-map-item {
      &__point {
        position: absolute;
        left: 28%;
        top: -80px;
      }

      &__image {
        height: 106px;
      }

      &--dmg,
      &--vinci,
      &--teflex,
      &--jiaflon,
      &--trisun {
        left: 0;
        top: 55%;

        .g-map-item__point {
          right: 28%;
          top: -75px;
        }
      }
    }
  }
}
