.company-intro {
  .ci-image {
    margin-top: 50px;
  }

  .ci-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
  }

  .ci-heading {
    &__subtitle {
      @include f(24px, 32px, 400);
    }

    &__title {
      margin-top: 10px;
    }
  }

  .ci-description {
    max-width: 570px;

    &__link {
      margin-top: 20px;
    }
  }
}

.geography {
  .g-map {
    @include flex-all-center;
  }

  .g-tabs {
    @include is-grid(6, 30, 30);

    margin-top: 30px;

    &-item {
      justify-items: center;
      border: 1px solid transparent;
      border-radius: 16px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        border: 1px solid var(--blue-color);
        background-color: rgba(#0387ea, 0.05);
      }
    }

    &-item--active {
      border: 1px solid var(--blue-color);
      background-color: rgba(#0387ea, 0.05);
    }
  }
}

@include big-desktop {
  .company-intro {
    .ci-image {
      margin-top: 30px;
    }

    .ci-description {
      max-width: 477px;
    }
  }

  .geography {
    .g-tabs {
      @include is-grid(6, 20, 20);

      margin-top: 20px;
    }
  }
}

@include tablet {
  .company-intro {
    .ci-info {
      margin-top: 30px;
    }

    .ci-heading {
      &__title {
        @include f(32px, 42px, 600);
      }
    }

    .ci-description {
      max-width: 417px;
    }
  }

  .geography {
    .g-tabs {
      @include is-grid(3, 20, 20);
    }
  }
}

@include mobile-bg {
  .company-intro {
    .ci-info {
      flex-direction: column;
    }

    .ci-description {
      margin-top: 20px;
      max-width: 100%;
    }
  }
}

@include mobile {
  .ci-image {
    margin-top: 20px;
  }

  .company-intro {
    .ci-description {
      &__link {
        width: 100%;
      }
    }
  }
}

@include small-mobile {
  .company-intro {
    .ci-image {
      margin-top: 20px;
    }

    .ci-heading {
      &__title {
        @include f(24px, 32px, 600);
      }

      &__subtitle {
        @include f(15px, 20px, 400);
      }
    }

    .ci-info {
      margin-top: 20px;
    }
  }
}
