.is-box-form {
  display: flex;
  border: 1px solid var(--blue-color);
  border-radius: 16px;
  padding: 50px;
  background-color: var(--light-color);
  gap: 92px;

  .bf-left {
    max-width: 300px;

    &__preview {
      @include f(16px, 24px, 400);

      margin-top: 15px;
    }
  }

  .bf-right {
    width: 100%;
  }

  .bf-form {
    @include is-grid(2, 10, 10);

    .is-form-field {
      .ff-input {
        border: 1px solid var(--main-color);
        border-radius: 16px;
        padding: 18px 20px;
        width: 100%;
        background-color: var(--light-color);

        &::placeholder {
          color: var(--gray-color);

          @include f(14px, 24px, 400);
        }
      }
    }

    .is-form-field--textarea {
      grid-column: 1/3;

      textarea {
        border: 1px solid var(--main-color);
        border-radius: 16px;
        padding: 18px 20px;
        width: 100%;
        min-height: 178px;
        background-color: var(--light-color);
        resize: none;

        &::placeholder {
          color: var(--gray-color);

          @include f(14px, 24px, 400);
        }
      }
    }

    .bf-agreement {
      display: flex;
      align-items: flex-start;
      grid-column: 1/3;
      gap: 89px;

      .is-form-field--agreement {
        display: flex;
        align-items: flex-start;
        gap: 10px;

        input {
          position: absolute;
          width: 1px;
          height: 1px;
          opacity: 0;

          &:checked + .checkbox-icon svg {
            opacity: 1;
          }
        }

        .checkbox-icon {
          position: relative;
          border: 1px solid var(--main-color);
          border-radius: 6px;
          width: 18px;
          height: 18px;
          cursor: pointer;

          svg {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 10;
            width: 10px;
            height: 7px;
            background-image: url("/img/svg/agreement.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0;
            transform: translate(-50%, -50%);
          }
        }

        .checkbox-text {
          flex: 1;
          margin-left: 10px;

          @include f(12px, 18px, 400);
        }
      }
    }

    &__button {
      @include flex-all-center;

      border-radius: 16px;
      padding: 18px 32px;
      width: 100%;
      white-space: nowrap;
      color: var(--light-color);
      background-color: var(--blue-color);
      transition: all 0.3s ease;
      cursor: pointer;

      @include f(16px, 24px, 500);

      svg {
        margin-left: 10px;
      }

      &:hover {
        background-color: var(--dark-blue-color);
      }
    }
  }
}

@include big-desktop {
  .is-box-form {
    padding: 60px 30px 90px 40px;
    gap: 63px;

    .bf-form {
      .bf-agreement {
        gap: 26px;
      }
    }
  }
}

@include tablet {
  .is-box-form {
    flex-direction: column;
    padding: 30px 102px 30px 30px;
    gap: 30px;

    .bf-left {
      max-width: 100%;
    }
  }
}

@include mobile-bg {
  .is-box-form {
    padding: 25px;

    .bf-left {
      &__preview {
        @include f(15px, 22px, 400);
      }
    }

    .bf-form {
      @include is-grid(1, 0, 30);

      .is-form-field {
        grid-column: 1/2;
      }

      .bf-agreement {
        flex-direction: column;
      }
    }
  }
}

@include small-mobile {
  .is-box-form {
    padding: 25px;

    .bf-left {
      &__preview {
        @include f(12px, 16px, 400);

        margin-top: 12px;
      }
    }

    .bf-form {
      @include is-grid(1, 0, 20);
    }
  }
}
