.header {
  @include flex-all-sb;

  padding-top: 50px;

  .header-nav {
    &-list {
      @include flex-all-sb;

      gap: 40px;
    }

    &-link {
      @include header-nav-link;
    }
  }

  &-logo {
    @include flex-all-center;

    svg {
      animation: logo 2s ease-in-out;
    }

    &__text {
      position: relative;
      margin-left: 10px;
      width: 143px;
      height: 32px;
      background-image: url("../../img/revoseal_schrift.webp");
      background-size: 100% 100%;
      object-fit: cover;
      opacity: 0;
      animation: logo-text 2s ease-in-out forwards;
    }
  }

  @keyframes logo {
    0% {
      transform: rotate(-90deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes logo-text {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &-lang {
    position: relative;
    cursor: pointer;

    .hl-wrapper {
      @include flex-all-center;

      border: 1px solid var(--dark-gray-color);
      border-radius: 8px;
      width: 45px;
      height: 45px;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--dark-gray-color);
      }
    }

    .hl-flag {
      @include flex-all-center;
    }

    .hl-dropdown {
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 20;
      display: none;
      margin-top: 5px;
      border: 1px solid var(--dark-gray-color);
      border-radius: 8px;
      padding: 10px 0;
      width: 170px;
      background-color: #fff;

      .hl-dropdown-item {
        @include flex-v-center;

        padding: 5px 10px;
        width: 100%;
        cursor: pointer;

        &:hover {
          background-color: var(--gray-color);
        }

        &__title {
          margin-left: 2px;
        }
      }

      &--active {
        display: block;
      }
    }
  }

  .burger {
    display: none;

    @include burger;
  }
}

.header-mob {
  display: none;

  &.menu--active {
    display: block;
  }
}

@include tablet {
  .header {
    &-logo {
      flex-direction: column;

      &__text {
        width: 120px;
        height: 28px;
      }
    }
  }
}

@include small-tablet {
  .header {
    &-logo {
      flex-direction: row;
    }

    .header-nav {
      display: none;
    }

    .header-lang {
      display: none;
    }

    .burger {
      display: block;
    }
  }

  .header-mob {
    &.menu--active {
      @include flex-all-sb;

      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      overflow-x: auto;
      padding: 91px 40px 0;
      width: 100%;
      background-color: #fff;
    }

    .header-nav {
      &-list {
        @include flex;

        gap: 40px;
      }

      &-link {
        @include header-nav-link;
      }
    }

    .burger-close {
      position: absolute;
      right: 26px;
      top: 26px;
    }
  }
}

@include mobile-bg {
  .header-mob {
    &.menu--active {
      flex-direction: column;
      justify-content: flex-start;
      padding: 70px 40px;
      height: 100vh;
    }

    .header-nav {
      &-list {
        flex-direction: column;
        align-items: center;
        margin: 0;
      }

      &-item {
        padding-top: 0;
      }
    }

    .header-lang {
      margin-top: 40px;

      .hl-dropdown {
        left: 0;
        right: auto;
        top: -124px;
      }
    }
  }
}
