.products-tabs {
  .pt-block {
    display: flex;
    gap: 30px;
  }

  .pt-menu {
    min-width: 280px;

    &-title {
      @include f(18px, 24px, 600);
    }

    &-list {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      border-top: 1px solid var(--gray-color);
      padding-top: 20px;
      gap: 20px;
    }

    &-item {
      position: relative;
      display: flex;
      cursor: pointer;

      span {
        @include f(18px, 24px, 400);
      }

      &:hover {
        span {
          font-weight: 600;
        }
      }
    }
  }

  .pt-menu-item--active {
    padding-left: 36px;

    span {
      font-weight: 600;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      border-radius: 4px;
      width: 23px;
      height: 23px;
      background-color: var(--blue-color);
    }
  }

  .pt-content {
    @include is-grid(3, 30, 30);

    display: none;
    flex: 1;

    .pt-content-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid var(--gray-color);
      border-radius: 16px;
      padding: 15px;
      background-color: var(--light-color);

      &__title {
        @include f(16px, 24px, 500);
      }

      &__image {
        margin-top: 30px;

        // max-height: 150px;
        width: 100%;

        img {
          border-radius: 16px;
          width: 100%;
        }
      }
    }

    &--active {
      display: block;
    }
  }
}

@include big-desktop {
  .products-tabs {
    .pt-content {
      @include is-grid(2, 30, 30);
    }
  }
}

@include mobile-bg {
  .products-tabs {
    .pt-block {
      flex-direction: column;
    }
  }
}

@include small-mobile {
  .products-tabs {
    .pt-content {
      @include is-grid(1, 30, 30);
    }
  }
}
