.services-intro {
  h1 {
    @include f(48px, 48px, 600);
    color: var(--main-color);
  }
  .si-block {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  .si-info {
    max-width: 436px;

    &__description {
      margin-top: 30px;
    }

    &__link {
      margin-top: 20px;
      padding: 18px 75px;
    }
  }

  .si-image {
    max-width: 570px;
  }
}

.tar-service {
  .ts-block {
    @include is-grid(3, 30, 30);
  }

  .ts-item {
    background-color: var(--light-color);
    padding: 20px;
    border: 1px solid var(--gray-color);

    &__text {
      margin-top: 20px;
    }
  }

  .ts-item-image {
    position: relative;

    &__title {
      @include font(var(--light-color), 20px, 26px, 600);

      position: absolute;
      top: 96px;
      left: 20px;
    }

    img {
      border-radius: 24px;
    }

    &__corner {
      position: absolute;
      width: 20px;
      height: 76px;
      left: 76px;
      z-index: 10;
      background-color: var(--light-color);
      border-radius: 0 0 16px;

      &::before {
        content: "";
        position: absolute;
        right: -24px;
        top: 0;
        border-radius: 24px 0 0 0;
        width: 24px;
        height: 21px;
        box-shadow: -6px -3px 0 3px var(--light-color);
      }

      &::after {
        content: "";
        position: absolute;
        right: 15px;
        bottom: 15px;
        border-radius: 24px 0 0 0;
        width: 24px;
        height: 21px;
        background-color: var(--light-color);
      }
    }

    &__corner-2 {
      position: absolute;
      height: 20px;
      width: 76px;
      top: 56px;
      z-index: 10;
      background-color: var(--light-color);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 20px;
        border-radius: 24px 0 0 0;
        width: 24px;
        height: 24px;
        box-shadow: -6px -5px 0 3px var(--light-color);
      }
    }

    &__corner-3 {
      position: absolute;
      height: 77px;
      width: 97px;
      top: -21px;
      left: -21px;
      z-index: 10;
      border-right: 1px solid var(--gray-color);
      border-bottom: 1px solid var(--gray-color);
      background-color: #fff;
      border-radius: 0 0 16px;

      &::before {
        content: "";
        position: absolute;
        right: -24px;
        top: 0;
        border-radius: 24px 0 0 0;
        border-top: 1px solid var(--gray-color);
        border-left: 1px solid var(--gray-color);
        width: 24px;
        height: 21px;
        box-shadow: -6px -3px 0 3px #fff;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -24px;
        border-radius: 24px 0 0 0;
        border-top: 1px solid var(--gray-color);
        border-left: 1px solid var(--gray-color);
        width: 24px;
        height: 24px;
        box-shadow: -6px -3px 0 3px #fff;
      }
    }
  }
}

.services-list {
  .sl-accordion {
    @include flex-column-center;
    gap: 10px;

    &-item {
      width: 100%;
      background-color: var(--light-color);
      padding: 30px;
      border: 1px solid var(--gray-color);

      &__content {
        max-width: 410px;
      }

      &__link {
        @include flex-all-center;
        width: fit-content;
        margin-top: 30px;

        span {
          color: var(--blue-color);
        }

        svg {
          margin-left: 10px;
        }
      }
    }

    &-item-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      svg {
        transition: all 0.3s ease;
      }
    }

    &-item-info {
      margin-top: 20px;
      display: none;
    }
  }
  .sl-accordion-item--active {
    .sl-accordion-item-header {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.experience {
  .ex-block {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .ex-image {
    max-width: 700px;
  }

  .ex-list {
    position: absolute;
    top: 20px;
    left: 0;
    max-width: 513px;
    @include flex-column-center;
    gap: 10px;
  }

  .ex-item {
    background-color: var(--light-color);
    border-radius: 24px;
    border: 1px solid var(--gray-color);
    padding: 20px;
  }
}

.result {
  .res-block {
    position: relative;
    margin-top: 240px;
  }
  .res-image {
    position: absolute;
    left: 40px;
    bottom: 40px;

    img {
      border-radius: 16px;
    }
  }
  .res-info {
    padding: 40px 90px;
    background-color: var(--blue-color);
    border-radius: 16px;

    &-content {
      max-width: 478px;
      margin-left: auto;
      color: var(--light-color);
    }

    &-title {
      color: var(--light-color);
    }

    &-text {
      margin-top: 10px;

      p {
        color: var(--light-color);
      }

      p + p {
        margin-top: 20px;
      }
    }
  }
}

@include big-desktop {
  .tar-service {
    .ts-item-image {
      &__title {
        @include f(16px, 20px, 600);
      }
    }
  }

  .result {
    .res-block {
      position: relative;
      margin-top: 200px;
    }
    .res-image {
      width: 437px;
    }
    .res-info {
      padding: 28px 34px;

      &-content {
        max-width: 437px;
      }
    }
  }
}

@include tablet {
  .services-intro {
    h1 {
      @include f(36px, 36px, 600);
    }

    .si-block {
      gap: 20px;
    }

    .si-info {
      max-width: 336px;
    }
  }

  .tar-service {
    .ts-block {
      @include is-grid(2, 20, 20);
    }
  }

  .experience {
    .ex-block {
      flex-direction: column;
    }
    .ex-list {
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: normal;
      max-width: 100%;
    }

    .ex-item {
      width: calc(50% - 10px);
    }
  }

  .result {
    .res-block {
      margin-top: 160px;
    }
    .res-image {
      position: absolute;
      left: 15px;
      bottom: 80px;
      width: 44%;
      height: 367px;

      img {
        height: 100%;
      }
    }
    .res-info {
      padding: 46px 41px 46px 15px;

      &-content {
        width: 50%;
      }
    }
  }
}

@include mobile-bg {
  .services-intro {
    .si-block {
      flex-direction: column;
      gap: 30px;
    }

    .si-image {
      max-width: 400px;
    }
  }

  .tar-service {
    .ts-block {
      @include is-grid(1, 0, 55);
    }

    .ts-item-image {
      &__title {
        top: auto;
        bottom: 20px;
        @include f(15px, 20px, 600);
      }

      &__corner {
        position: absolute;
        width: 20px;
        height: 64px;
        left: 43px;
        z-index: 10;
        background-color: var(--light-color);
        border-radius: 0 0 16px;
      }

      &__corner-2 {
        height: 20px;
        width: 46px;
        top: 44px;
        z-index: 10;
        background-color: var(--light-color);
      }

      &__corner-3 {
        height: 66px;
        width: 64px;
        top: -21px;
        left: -21px;
        z-index: 10;
        border-right: 1px solid var(--gray-color);
        border-bottom: 1px solid var(--gray-color);
        background-color: #fff;
        border-radius: 0 0 16px;
      }
    }
  }

  .experience {
    .ex-item {
      width: 100%;
    }
  }

  .result {
    .res-block {
      margin-top: 120px;
    }
    .res-image {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: auto;
      top: -20px;
      width: 90%;
      max-width: 351px;
      height: 367px;

      img {
        height: 100%;
      }
    }
    .res-info {
      padding: 353px 20px 35px 20px;

      &-content {
        width: 100%;
        margin: 0;
      }
    }
  }
}

@include mobile {
  .services-intro {
    .si-info {
      max-width: 100%;

      &__link {
        width: 100%;
      }
    }
  }
}

@include small-mobile {
  .services-intro {
    h1 {
      @include f(28px, 28px, 600);
    }
    .si-info {
      &__link {
        width: 100%;
      }
    }
  }

  .tar-service {
    .ts-block {
      @include is-grid(1, 0, 20);
    }

    .ts-item-image {
      img {
        height: 166px;
        width: 100%;
      }
    }
  }

  .services-list {
    .sl-accordion {
      &-item {
        padding: 20px;
        &-header {
          svg {
            width: 30px;
          }
        }

        &__content {
          padding-right: 20px;
        }
      }
    }
  }

  .result {
    .res-block {
      margin-top: 160px;
    }
    .res-image {
      bottom: auto;
      top: -20px;
      width: 90%;
      height: 251px;
    }
    .res-info {
      padding: 253px 20px 35px 20px;
    }
  }
}
