/* stylelint-disable */
@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../fonts/#{$url}.woff2") format("woff2");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@mixin font($color: var(--main-color), $size, $lh, $weight: 0, $style: 0) {
  color: $color;
  font-size: $size;
  line-height: $lh;

  @if $weight != 0 {
    font-weight: $weight;
  }

  @if $style != 0 {
    font-style: $style;
  }
}

@mixin f($size, $lh, $weight: 0, $style: 0) {
  font-size: $size;
  line-height: $lh;

  @if $weight != 0 {
    font-weight: $weight;
  }

  @if $style != 0 {
    font-style: $style;
  }
}

@mixin ibm-font {
  font-family: "IBM", "Open Sans", sans-serif;
}

@mixin blank-gothic-font {
  font-family: "BlankGothic", "Open Sans", sans-serif;
}
