@mixin header-nav-link {
  width: fit-content;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid var(--blue-color);
  }

  &--active {
    border-bottom: 1px solid var(--blue-color);
    font-weight: 500;

    pointer-events: none;
  }
}
