@mixin header-nav-item {
  width: fit-content;
  border-bottom: 1px solid transparent;
  padding: 10px 0;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid var(--blue-color);

    .header-nav-link {
      font-weight: 500;
      letter-spacing: 0;
    }
  }

  &--active {
    border-bottom: 1px solid var(--blue-color);

    .header-nav-link {
      font-weight: 500;
    }

    pointer-events: none;
  }
}
