<footer class="footer">
  <div class="footer-info">
    <div class="fi-logo">
      <div class="fi-logo__icon">@include('../img/svg/main-logo.svg')</div>
      <div class="fi-logo__copyright">
        Copyright © 2021 revoseal, all rights reserved.
      </div>
    </div>
    <div class="fi-catalog">
      <div class="fi-catalog-item">
        <div class="fi-catalog-title">Продукция</div>
        <ul class="fi-catalog-list">
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
        </ul>
      </div>
      <div class="fi-catalog-item">
        <div class="fi-catalog-title">Продукция</div>
        <ul class="fi-catalog-list">
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
        </ul>
      </div>
      <div class="fi-catalog-item">
        <div class="fi-catalog-title">Продукция</div>
        <ul class="fi-catalog-list">
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
          <li class="fi-catalog-list__item"><a href="">Раздел 1</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-contacts">
    <div class="fc-list">
      <div class="fc-item">
        <div class="fc-item__icon"></div>
        <div class="fc-item__title"></div>
      </div>
    </div>
  </div>
</footer>
