<footer>
  <div class="container footer">
    <div class="footer-logo">
      <div class="footer-logo__icon"><img src="img/revoseal.png" alt="лого revoseal"></div>
      <div class="footer-logo__copyright">
        Copyright © 2021 revoseal, all rights reserved.
      </div>
    </div>
    <div class="footer-catalog">
      <div class="fc-item">
        <div class="fc-item-title">Продукция</div>
        <ul class="fc-list">
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
        </ul>
      </div>
      <div class="fc-item">
        <div class="fc-item-title">Продукция</div>
        <ul class="fc-list">
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
        </ul>
      </div>
      <div class="fc-item">
        <div class="fc-item-title">Продукция</div>
        <ul class="fc-list">
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
          <li class="fc-list-item"><a class="is-link" href="">Раздел 1</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-contacts">
      <div class="fc-list">
        <div class="fc-item">
          <div class="fc-item-title">Адрес</div>
          <div class="fc-item-feature">
            <div class="fc-item-feature__icon">
              @include('../img/svg/Location.svg')
            </div>
            <div class="fc-item-feature__text">
              <span class="weight-600">OOO Ревосил</span><br />
              Республика Татарстан, г. Казань, Пр-кт Хусаина Ямашева 36к1, Офис
              5
            </div>
          </div>
        </div>
        <div class="fc-item">
          <div class="fc-item-title">Контакты</div>
          <div class="fc-item-feature">
            <div class="fc-item-feature__icon">
              @include('../img/svg/Call.svg')
            </div>
            <a class="fc-item-feature__text is-link" href="tel:+79773583365" class="fc-item-feature__text">
              +7 (977) 358-33-65
            </a>
          </div>
          <div class="fc-item-feature">
            <div class="fc-item-feature__icon">
              @include('../img/svg/Message.svg')
            </div>
            <a class="fc-item-feature__text is-link" href="mailto:info@revoseal.ru" class="fc-item-feature__text">
              info@revoseal.ru
            </a>
          </div>
        </div>
        <div class="fc-item">
          <div class="fc-item-title">Управляющий</div>
          <div class="fc-item-feature">
            <div class="fc-item-feature__icon">
              @include('../img/svg/Profile.svg')
            </div>
            <div class="fc-item-feature__text">Александр Соловьев</div>
          </div>
        </div>
        <div class="fc-item">
          <div class="fc-item-title">Торговый реестр</div>
          <div class="fc-item-feature">
            <div class="fc-item-feature__icon">
              @include('../img/svg/Folder.svg')
            </div>
            <div class="fc-item-feature__text">
              ОГРН: 1201600089932 ИНН 1657265478
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
