<div class="is-box-form">
  <div class="bf-left">
    <h2 class="bf-left__title">Мы всегда на связи</h2>
    <div class="bf-left__preview">
      Есть вопросы по нашей продукции или услугам? Заполните форму, и наш
      персональный менеджер свяжется с вами в ближайшее время
    </div>
  </div>

  <div class="bf-right">
    <form class="bf-form" action="">
      <div class="is-grid">
        <div class="is-form-field">
          <label for="" class="ff-label">
            <input type="text" class="ff-input" placeholder="Ваше имя" />
          </label>
        </div>
        <div class="is-form-field">
          <label for="" class="ff-label">
            <input
              type="text"
              class="ff-input"
              placeholder="Название компании"
            />
          </label>
        </div>
        <div class="is-form-field">
          <label for="" class="ff-label">
            <input type="text" class="ff-input" placeholder="Ваша почта" />
          </label>
        </div>
        <div class="is-form-field">
          <label for="" class="ff-label">
            <input type="text" class="ff-input" placeholder="Тема обращения" />
          </label>
        </div>
        <div class="is-form-field is-form-field--textarea">
          <label class="ff-label">
            <textarea name="form-text" placeholder="Ваше сообщение"></textarea>
          </label>
        </div>
        <div class="bf-agreement">
          <div class="is-form-field is-form-field--agreement">
            <label class="ff-label">
              <input type="checkbox" name="agreement" />
              <div class="checkbox-icon">
                @include('../img/svg/agreement.svg')
              </div>
            </label>
            <p class="checkbox-text">
              Я согласен, что мои данные и информация будут собираться и
              храниться в электронном виде для ответа на мой запрос. Вы можете в
              любое время отозвать свое согласие на будущее, отправив
              электронное письмо по адресу info (at) revoseal.ru.
            </p>
          </div>

          <button class="bf-form__button" type="submit">
            Оставить заявку @include('../img/svg/arrowRight.svg')
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
