<header class="header">
  <div class="header-logo">@include('../img/svg/main-logo.svg')</div>
  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">Главная</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">Продукция</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">О компании</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">Услуги</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">Контакты</a>
      </li>
    </ul>
  </nav>
  <div class="header-lang">
    <div class="header-lang__icon"></div>
  </div>
</header>
