<div class="content-block">
  <div class="products-list is-grid">
    <div class="products-item">
      <div class="products-item__title">Уплотнители</div>
      <div class="products-item__image">
        <img src="../img/product-1.png" alt="product" />
      </div>
      <div class="products-item__corner">
        <a href=""> Подробнее @include('../img/svg/arrowRight.svg')</a>
      </div>
    </div>
    <div class="products-item">
      <div class="products-item__title">Клапанное оборудование</div>
      <div class="products-item__image">
        <img src="../img/product-2.png" alt="product" />
      </div>
      <div class="products-item__corner">
        <a href=""> Подробнее @include('../img/svg/arrowRight.svg')</a>
      </div>
    </div>
    <div class="products-item">
      <div class="products-item__title">Насосное оборудование</div>
      <div class="products-item__image">
        <img src="../img/product-3.png" alt="product" />
      </div>
      <div class="products-item__corner">
        <a href=""> Подробнее @include('../img/svg/arrowRight.svg')</a>
      </div>
    </div>
    <div class="products-item">
      <div class="products-item__title">Экструдерное оборудование</div>
      <div class="products-item__image">
        <img src="../img/product-4.png" alt="product" />
      </div>
      <div class="products-item__corner">
        <a href=""> Подробнее @include('../img/svg/arrowRight.svg')</a>
      </div>
    </div>
    <div class="products-item">
      <div class="products-item__title">
        Фильтрация Электролиз <br />
        и очистка
      </div>
      <div class="products-item__image">
        <img src="../img/product-5.png" alt="product" />
      </div>
      <div class="products-item__corner">
        <a href=""> Подробнее @include('../img/svg/arrowRight.svg')</a>
      </div>
    </div>
    <div class="products-item">
      <div class="products-item__title">Производственное оборудование</div>
      <div class="products-item__image">
        <img src="../img/product-6.png" alt="product" />
      </div>
      <div class="products-item__corner">
        <a href=""> Подробнее @include('../img/svg/arrowRight.svg')</a>
      </div>
    </div>
    <div class="products-item">
      <div class="products-item__title">Полимерные материалы</div>
      <div class="products-item__image">
        <img src="../img/product-7.png" alt="product" />
      </div>
      <div class="products-item__corner">
        <a href=""> Подробнее @include('../img/svg/arrowRight.svg')</a>
      </div>
    </div>
    <div class="products-item">
      <div class="products-item__title">Услуги</div>
      <div class="products-item__image">
        <img src="../img/product-8.png" alt="product" />
      </div>
      <div class="products-item__corner">
        <a href=""> Подробнее @include('../img/svg/arrowRight.svg')</a>
      </div>
    </div>
    <a class="products-item products-link" href="">
      @include('../img/svg/arrowUp.svg')
      <span class="products-link__text"> Вся продукция </span>
    </a>
  </div>
</div>
