// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

// тестовые стили, удалите их
.page-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}

.is-main-layout {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
