// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/contacts";
@import "./components/form";
@import "./components/company";
@import "./components/services";
@import "./components/products";
@import "./components/product-detail";
h1 {
  @include f(74px, 96px, 600);

  color: var(--blue-color);

  .h1-small {
    display: block;

    @include f(54px, 70px, 400);
  }

  &.state-a {
    @include font(var(--main-color), 46px, 60px, 600);
  }
}

h2 {
  @include f(46px, 60px, 600);
}

h3 {
  @include f(24px, 34px, 600);
}

.main-intro {
  @include flex-column-center;

  .mi-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }

  .mi-header-preview {
    @include f(16px, 24px, 400);

    max-width: 370px;
  }

  .mi-banner {
    position: relative;
    margin-top: 40px;

    .mi-banner-btn {
      position: absolute;
      right: 0;
      bottom: 2px;
      z-index: 10;
      border-top: 1px solid var(--gray-color);
      border-left: 1px solid var(--gray-color);
      border-radius: 16px 0 0;
      padding: 15px 0 0 15px;
      background: transparent;
      background-color: #fff;

      &::before {
        content: "";
        position: absolute;
        left: -16px;
        bottom: 0;
        border-radius: 0 0 16px;
        width: 16px;
        height: 16px;
        box-shadow: 4px 4px 0 3px #fff;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -16px;
        border-radius: 0 0 16px;
        width: 16px;
        height: 16px;
        box-shadow: 4px 4px 0 3px #fff;
      }

      &:hover {
        span {
          font-size: 26px;
        }

        svg {
          transform: scale(1.2);
        }
      }

      button {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 20px;
        width: 270px;
        height: 254px;
        background-color: var(--blue-color);

        span {
          @include f(24px, 34px, 500);

          display: block;
          color: #fff;
          transition: all 0.3s ease;
        }

        svg {
          position: absolute;
          right: 30px;
          top: 30px;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

.products {
  @include is-grid(3, 30, 30);

  .is-grid {
    .products-item {
      position: relative;
      border: 1px solid var(--gray-color);
      border-radius: 16px;
      padding: 30px;
      height: 266px;
      text-align: right;
      background: var(--light-color);

      &:hover {
        .products-item__corner {
          opacity: 1;
        }
      }

      &__title {
        @include f(16px, 24px, 500);
      }

      &__image {
        position: absolute;
        left: 30px;
        bottom: 30px;
        width: 150px;
        height: 150px;
      }

      &__corner {
        position: absolute;
        right: -1px;
        bottom: -1px;
        z-index: 10;
        border-top: 1px solid var(--gray-color);
        border-left: 1px solid var(--gray-color);
        border-radius: 16px 0 0;
        padding: 10px;
        width: 200px;
        height: 65px;
        background: transparent;
        background: #fff;
        opacity: 0;
        transition: all 0.3s ease;

        &::before {
          content: "";
          position: absolute;
          left: -16px;
          bottom: 0;
          border-right: 1px solid var(--gray-color);
          border-bottom: 1px solid var(--gray-color);
          border-radius: 0 0 16px;
          width: 16px;
          height: 16px;
          box-shadow: 4px 4px 0 3px #fff;
        }

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: -16px;
          border-right: 1px solid var(--gray-color);
          border-bottom: 1px solid var(--gray-color);
          border-radius: 0 0 16px;
          width: 16px;
          height: 16px;
          box-shadow: 4px 4px 0 3px #fff;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-radius: 16px;
          padding: 18px 23px 18px 32px;
          color: var(--light-color);
          background-color: var(--blue-color);
          transition: all 0.3s ease;

          &:hover {
            background-color: var(--dark-blue-color);
          }

          svg {
            margin-left: 10px;
          }
        }
      }
    }

    .products-link {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      background-color: var(--blue-color);

      &:hover {
        span {
          font-size: 26px;
        }

        svg {
          transform: scale(1.2);
        }
      }

      &__text {
        @include f(24px, 34px, 500);

        display: block;
        color: var(--light-color);
        transition: all 0.3s ease;
      }

      svg {
        position: absolute;
        right: 30px;
        top: 30px;
        transition: all 0.3s ease;
      }
    }
  }
}

.about {
  position: relative;

  .about-image {
    max-width: 770px;
  }

  .about-preview {
    position: absolute;
    right: 0;
    bottom: 37px;
    border: 1px solid var(--gray-color);
    padding: 32px;
    max-width: 570px;
    background: var(--light-color);

    .ap-title {
      @include f(46px, 60px, 600);
    }

    .ap-text {
      @include f(16px, 24px, 400);

      margin-top: 30px;
      border-left: 1px solid var(--blue-color);
      padding-left: 30px;
    }
  }
}

@include big-desktop {
  h1 {
    .h1-small {
      @include f(36px, 46px, 400);
    }
  }

  .main-intro {
    .mi-banner {
      .mi-banner-btn {
        &:hover {
          span {
            font-size: 24px;
          }
        }

        button {
          padding: 15px;
          width: 228px;
          height: 214px;

          svg {
            right: 15px;
            top: 15px;
          }
        }
      }
    }
  }

  .products {
    @include is-grid(3, 20, 20);

    .is-grid {
      .products-item {
        height: 224px;

        &__corner {
          width: 180px;

          a {
            padding: 18px 16px 18px 24px;
          }
        }

        &__image {
          width: 110px;
          height: 110px;
        }
      }
    }
  }

  .about {
    .about-image {
      max-width: 726px;
    }

    .about-preview {
      padding: 20px 15px 20px 30px;
      max-width: 488px;

      .ap-title {
        @include f(36px, 46px, 600);
      }

      .ap-text {
        margin-top: 10px;
        padding-left: 20px;
      }
    }
  }
}

@include tablet {
  h1 {
    @include f(54px, 70px, 600);

    .h1-small {
      @include f(28px, 36px, 400);
    }

    &.state-a {
      @include f(36px, 46px, 600);
    }
  }

  h2 {
    @include f(36px, 46px, 600);
  }

  .main-intro {
    .mi-header-preview {
      max-width: 340px;
    }

    .mi-banner {
      .mi-banner-btn {
        &:hover {
          span {
            font-size: 20px;
          }
        }

        button {
          width: 194px;
          height: 148px;

          span {
            @include f(18px, 26px, 500);
          }

          svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .products {
    @include is-grid(3, 20, 20);
    pointer-events: none;

    .is-grid {
      .products-item {
        padding: 20px;
        height: 206px;

        &__image {
          left: 20px;
          bottom: 20px;
          width: 96px;
          height: 96px;
        }
      }

      .products-link {
        &:hover {
          span {
            font-size: 24px;
          }
        }

        svg {
          right: 20px;
          top: 20px;
        }
      }
    }
  }

  .about {
    .about-image {
      max-width: 516px;
    }

    .about-preview {
      bottom: 40px;
      padding: 20px;
      max-width: 452px;

      .ap-title {
        @include f(28px, 36px, 600);
      }

      .ap-text {
        @include f(15px, 22px, 400);
      }
    }
  }
}

@include mobile-bg {
  h2 {
    @include f(28px, 36px, 600);
  }

  h3 {
    @include f(18px, 26px, 600);
  }

  .main-intro {
    .mi-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .mi-header-preview {
      margin-top: 20px;
    }

    .mi-banner {
      .mi-banner-btn {
        &:hover {
          span {
            font-size: 17px;
          }
        }

        button {
          width: 150px;
          height: 100px;

          span {
            @include f(15px, 22px, 500);
          }

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .products {
    @include is-grid(2, 20, 20);

    .is-grid {
      .products-item {
        padding: 15px;
        height: 180px;

        &__image {
          left: 15px;
          bottom: 15px;
        }

        &__corner {
          width: 180px;

          a {
            padding: 18px 16px 18px 24px;
          }
        }
      }

      .products-link {
        grid-column: 1/3;

        svg {
          right: 15px;
          top: 15px;
        }
      }
    }
  }

  .about {
    @include flex-all-center;

    flex-direction: column;
    margin-bottom: -100px;
    padding: 0 20px;

    .about-image {
      width: 120%;

      img {
        border: none;
      }
    }

    .about-preview {
      position: relative;
      bottom: 100px;
      padding: 20px;
      max-width: 400px;

      br {
        display: none;
      }
    }
  }
}

@include small-mobile {
  h1 {
    @include f(46px, 60px, 600);

    .h1-small {
      @include f(20px, 26px, 400);
    }
  }

  h2 {
    @include f(24px, 32px, 600);
  }

  .main-intro {
    .mi-banner {
      .mi-image {
        img {
          height: 219px;
        }
      }
    }
  }

  .products {
    @include is-grid(2, 20, 20);

    .is-grid {
      .products-item {
        padding: 10px;
        height: 123px;

        &__image {
          left: 10px;
          bottom: 10px;
          width: 54px;
          height: 54px;
        }

        &__title {
          @include f(12px, 18px, 500);
        }
      }
    }
  }

  .about {
    margin-bottom: -70px;

    .about-preview {
      bottom: 70px;
      padding: 15px;
      max-width: 100%;

      .ap-title {
        @include f(24px, 32px, 600);
      }

      .ap-text {
        @include f(12px, 18px, 400);
      }
    }
  }
}
